@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2>Welcome to the Seminar Management System</h2>
    <p><a href="/Participants/Create" class="btn btn-primary btn-lg">Seminar Registration</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Group Details</h3>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Sudent ID
                        </th>
                        <th>
                            Student Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12000112</td>
                        <td>Syed Sajjad Ali</td>
                    </tr>

                    <tr>
                        <td>12000280</td>
                        <td>Faraz khan</td>
                    </tr>
                    <tr>
                        <td>11901737</td>
                        <td>Usman haider</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>